@page
@model WebRestaurant.Controllers.TestPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Test Page</title>
</head>
<body>
    <div>
        <form action="_self" method="get" name="testForm">
            <input type="text" accept="*/*" name="typeAnything" placeholder="Type Anything"><br>
            <input type="submit" name="submit" value="Click Me">
        </form> 
    </div>
</body>
</html>