img {
    width: 150px;
    height: 150px;
    margin-left: 45%;
}
h1 {
    text-align: center;
}
.option {
    flex: content;
    flex-direction: row;
    text-align: center;
    align-content: center;
}
#Register {
    margin-right: 10mm;
}
#Forget {
    margin-left: 10mm;
}
th {
    text-align: center;
    font-weight: bold;
    font: 1em;
    font-family: sans-serif;
}